h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style-type: none;
}
.container{
    width: 1600px;
}

body {
    font-family: 'Roboto', sans-serif; 
    color:#212121;
}

.secondary-font {
    font-family: 'Raleway', sans-serif;
}

:root {
    --brand-color-blue: #2196F3;
    --brand-color-grey: #757575;
    --white-tekst:#fff;
    --background-dark:#2F303A;
    --background-light:#F5F4FA;
    --header-border:#ECECEC;

}

.web-color {
    color: var(--brand-color-blue);
}

a{
    text-decoration: inherit;
    color:inherit;
}

address{
    font-style: normal;
}

a:hover, a:focus {
    color: var(--brand-color-blue);
}

button:focus, button:hover {
    background-color: var(--brand-color-blue);
    color: var(--white-tekst)
}

button{
    cursor: pointer;
    font-size: 16px;
    background-color: var(--background-light);
    font-weight: 500;
    line-height: 1.625;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.button-main-page{
    background-color: var(--brand-color-blue) ;
    color: var(--white-tekst);
    font-weight: 700;
    line-height: 1.875;
    padding: 10px 41px 10px 42px;

}


.navigation li{
    font-weight: 500;
    font-size 24px;
}
.font-size-webstudio{
    font-size: 26px;
}
.contact-navi{
font-weight: 500;
font-size: 14px;
color: var(--brand-color-grey);
}

.contact-footer li{
    font-size: 14px;
    line-height: 1.7;
}
.transparent-text{
    opacity: 0.6;
}

.background-dark{
    background-color: var(--background-dark);
}
.background-light{
    background-color: var(--background-light);
}
.white-text{
    color: var(--white-tekst);
}

h1{
    font-size: 44px;
    font-weight: 900;
    color:var(--white-tekst);
}

h2{
    font-weight: 700;
    font-size: 36px;
}


h3{
    font-size: 14px;
    font-weight: 700;
}


.second-section-description{
    font-size: 14px;
    line-height: 1.7;

}
.third-section ul{
    font-size: 16px
}
h4{
    font-weight: 500;
}

.test li {
    background-color: var(--white-tekst)
}

.portfolio-font{
    font-size: 18px;
}
.portfolio-bold-font{
    font-weight: 700;
}

.menu{
    display: flex;
}

.web-pad{
    padding: 24px 0 25px 215px;
}
.agencja-pad{
    padding: 32px 0 32px 93px;
}
.portfolio-kontakt-pad{
    padding: 32px 0 32px 46px;
}
.mail-pad{
    padding: 32px 0 32px 364px;
}
.tel-pad{
    padding: 32px 0 32px 50px;
}
.efektywne{
    text-align: center;
    padding: 200px 452px 0 452px;
}
.button-pad{
    padding: 40px 700px 200px 700px;
}
header{
    border-bottom: 1px solid var(--header-border);
}