h1, h2, h3, h4, h5, h6, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style-type: none;
}
.container{
    width: 1200px;
    margin:0 auto;
    
}

body {
    font-family: 'Roboto', sans-serif; 
    color:#212121;
    width: 1600px;
}

:root {
    --brand-color-blue: #2196F3;
    --brand-color-grey: #757575;
    --white-tekst:#fff;
    --background-dark:#2F303A;
    --background-light:#F5F4FA;
    --header-border:#ECECEC;
    --img-shadow-first: #0000001F;
    --img-shadow-second: #00000024;
    --img-shadow-third: #00000033;
    

}
.webstudio-style{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;

}
.web-color {
    color: var(--brand-color-blue);
}

a{
    text-decoration: inherit;
    color:inherit;
}

address{
    font-style: normal;
}

a:hover, a:focus {
    color: var(--brand-color-blue);
}

button:focus, button:hover {
    background-color: var(--brand-color-blue);
    color: var(--white-tekst)
}

button{
    cursor: pointer;
    font-size: 16px;
    background-color: var(--background-light);
    font-weight: 500;
    line-height: 1.625;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.button-main-page{
    background-color: var(--brand-color-blue) ;
    color: var(--white-tekst);
    font-weight: 700;
    line-height: 1.875;
    padding: 10px 41px 10px 42px;
    margin: 30px 500px 200px 500px;
}


.navigation {
    font-weight: 500;
    font-size 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 25px 0;
}

.contact-navi{
font-weight: 500;
font-size: 14px;
color: var(--brand-color-grey);
}

.contact-footer{
    padding: 60px 0px 60px 15px;
}

.contact-footer :not(:first-child){
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 9px;
}
.contact-footer :nth-child(1){
    padding-bottom: 20px;
}


.transparent-text{
    opacity: 0.6;
}

.background-dark{
    background-color: var(--background-dark);
}
.background-light{
    background-color: var(--background-light);
}
.white-text{
    color: var(--white-tekst);
}

h1{
    font-size: 44px;
    font-weight: 900;
    color:var(--white-tekst);
    padding: 200px 252px 0 252px;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

h2{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-bottom: 50px;
}

h3{
    font-size: 14px;
    font-weight: 700;
}

h4{
    font-weight: 500;
    padding: 30px 0 10px 0;
}

.test li {
    background-color: var(--white-tekst)
}

.portfolio-font{
    font-size: 18px;
}
.portfolio-bold-font{
    font-weight: 700;
}

.menu{
    display: flex;
}

header{
    border-bottom: 1px solid var(--header-border);
}

.nav-manu-first{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
}
.nav-manu-second{
    display: flex;
    justify-content: flex-end;
    padding-right: 27px;
}
.agencja-pad{
padding-left: 93px;
}
.portfolio-kontakt-pad{
    padding-left:46px;
}
.mail-pad{
    padding-right: 50px;
}

.section{
    padding: 94px 0 94px 0;
}
.lorem-list{
    display: flex;
    padding-bottom: 94px;
    justify-content: space-around;
}
.lorem-list p{
    width: 270px;
    line-height: 1.71 ;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--brand-color-grey);
    }

.img-display{
    display: flex;
    justify-content: space-around;
}
ul[class="img-display"]>li{
    text-align: center;
    background-color: var(--white-tekst);
}

.style-position{
    padding-bottom: 30px;
}
.img-shadow{
    box-shadow: 0px 1px 3px var(--img-shadow-first), 0px 1px 1px var(--img-shadow-second), 0px 2px 1px var(--img-shadow-third);
border-radius: 0px 0px 4px 4px;
}
